.k-checkbox {
  border: 2px solid #1c1c82;
  outline: none;
}

.k-checkbox:hover {
  border: 2px solid #72b0e5;
}

.k-checkbox:checked {
  border: 2px solid #1c1c82;
  background: #1c1c82;
}

.k-checkbox:checked:focus, .k-checkbox:focus {
  border: 2px solid #72b0e5;
  background: #72b0e5;
}

.k-checkbox:focus {
  background: #fff;
}


.error .k-checkbox {
  border: 2px solid #ee0d0d;
  outline: none;
}

.k-checkbox:hover {
  border: 2px solid #72b0e5;
}

.k-checkbox:checked {
  border: 2px solid #1c1c82;
  background: #1c1c82;
}

.k-checkbox:checked:focus, .k-checkbox:focus {
  border: 2px solid #72b0e5;
  background: #72b0e5;
}

.k-checkbox:focus {
  background: #fff;
}

