<form [formGroup]="form" (ngSubmit)="submit()">

  <h2>Inside form</h2>
  <h3>Value: {{form.get('switch').value}}</h3>
  <h3>Value: {{form.get('checkbox').value}}</h3>

  <div class="switch">
    <app-custom-switch
      formControlName="switch"
      id="switch"
      [class.error]="!isValid"
    ></app-custom-switch>
  </div>

  <div class="checkbox">
    <app-custom-checkbox
      formControlName="checkbox"
      id="checkbox"
      [class.error]="!isValid"
    ></app-custom-checkbox>
  </div>

  <button type="submit">Submit</button>

</form>



<div class="outside">
  <h2>Outside form</h2>
  <div class="switch">
    <app-custom-switch></app-custom-switch>
  </div>
  <div class="checkbox">
    <app-custom-checkbox></app-custom-checkbox>
  </div>
</div>


